.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
 }


.appBar {
  position: 'relative';
 }


.toolbarTitle {
    flex: 1;
}

.layout {
      width: auto;
      margin-left: 10%;
      margin-right: 10%;
      background-color: #E0C786;
  }

.cardHeader {
    background-color: grey;
  }

.cardPricing {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 16px,
  }

.heroContent {
    justify-content: center;
}